.li-item{
    list-style: none;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 0px 20px;
}

.boton-ver-mas{
    text-align: center;
    font-size: 20px;
    color: blue;
    display: block;
}